/* p{
    color:purple; font-size:20px; background-color:yellow;
}
.p1{
    color:red; font-size:30px; background-color:gray;
} */
/* .p{
    width:300vh;
    height:400px;
    background-color:blue;
}
.p_q{
    width:200px;
    height:200px;
    background-color:red;
} */
.p2{
    color:white;
    font-size:20px;
    background-color:black;
}